#cover{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        z-index: 999999;
}

        p {
            font-family: 'Raleway', sans-serif;
            color: gray;
            font-size: 1.15vw;
            text-align: center;
        }

        ul {
            font-family: 'Raleway', sans-serif;
            color: gray;
            font-size: 1.15vw;
            text-align: center;
        }

        .applImagesTron {
            width: 100%;
            height: 80vh;
            margin-top: 14.5vh;
        }

        .applImagesPage {
            width: 100%;
            height: 60vh;
        }

#getGoing{
    margin-top: 14.5vh;
}

#gettingAhead{
    margin-top: 14.5vh;
}

#stayingAhead{
    margin-top: 14.5vh;
}

#subHeader_4step{
    font-size: 2vw;
    text-align: center;
    margin-bottom: 2vh;
}

.skills{
    font-family:Raleway;
    color: black;
    font-size:18px;
 }

#applicationNav {
    text-align: center;
    display: absolute;
    margin-bottom: 3vh;

}

#applPageTable {
    font-size: 1vw;
    margin-bottom: 3vh;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
