        body{
            font-family: 'Raleway', sans-serif;
            margin: 0;
            font-size: 1.15vw;
            color: gray;
        }
        
        header{
            width: 100%;
            background-color: rgba(237,237,234,0.8);
            height: 8vw;
            position: fixed;
            line-height: 8vw;
            top: 0;
        }
        
        #logo{
            height: 6vw;
            margin-left: 5vw;
            margin-top: 1vw;
        }
        
        #box{
            height: 8vw;
            width: 8vw;
            background-color: #1A5FA2;
            display: inline-block;
            float: right;
            line-height: 8vw;
            text-align: center;
        }
        
        .label {
            font-family: 'Raleway', sans-serif;
            font-weight: 500;
            font-size: 1vw;
            color: white;
            vertical-align: middle;
            text-decoration: none;
            
        }
        
        a:hover {
            color: gray;
        }
        
        nav {
            display:inline-block;
            line-height: 8vw;
            margin-left: 8vw;
            vertical-align: middle;
            position: absolute;
            right: 8vw;
            
        }
        
        nav a{
            font-family: 'Raleway', sans-serif;
            color: #5AA2D4;
            font-size: 1vw;
            font-weight: 500;
            padding: 2vw;
            vertical-align: middle;
            text-decoration: none;
            line-height: 8vh;
            height: 8vh;
            display: inline-block;
        }
    
        .jumbotron {
            width: 100%;
            height: 80vh;
        }

        #main {
            width: 100%;
            background-color: white;
            text-align: center;
        }
        
        #pageNav {
            text-align: center;
            display: absolute;
            margin-bottom: 10vh;
            
        }
        
        .pageNav {
           text-decoration: none;
            font-family: 'Raleway', sans-serif;
            color: #5AA2D4;
            font-size: 1.7vw;
            padding: 2vh;
        }
        footer {
            height: 40vh;
            width: 100%;
            background-color: white;
        }
        
        .social {
            width: 100%;
            align-items: center;
            display: flex;
            justify-content: space-between;
            right: 0;
            left: 0;
        }
        
        .socialBox {
            width: 24vw;
            height: 10vh;
            background-color: #1A5FA2;
            display: inline-block;
            line-height: 10vh;
            position: relative;
        }
        
        .socialBox:hover {
            background-color: lightgrey;
        }
        
        .fa-facebook  {
            color: white;
            position: absolute;
            top:50%;
            left:50%;
            transform:translate(-50%,-50%);
        }
        
        .fa-twitter {
           color: white;
           position: absolute;
            top:50%;
            left:50%;
            transform:translate(-50%,-50%);
        }
        
        .fa-instagram {
           color: white;
           position: absolute;
            top:50%;
            left:50%;
            transform:translate(-50%,-50%);
            
        }
        
        .fa-envelope-o {
           color: white;
           position: absolute;
            top:50%;
            left:50%;
            transform:translate(-50%,-50%);
            
        }
        .contactBlock {
            width: 100%;
            height: 20vh;
            background-color: white;
            text-align: center;
            margin-top: 5vh;
            margin-bottom: 10vh;
        }
            
        p {
            font-family: 'Raleway', sans-serif;
            color: gray;
            font-size: 1.15vw;
        }
        
        .contactText {
            font-family: 'Raleway', sans-serif;
            color: #298fd5;
            font-size: 1.15vw;
            line-height: 1.15vw;
            display: block;
        }
        .sectionHead {
            font-family: 'Raleway', sans-serif;
            color: #5AA2D4;
            font-size: 1.15vw;
            font-weight: 700;
            
            }
        .sectionText {
            margin-left: 20vh;
            margin-right: 20vh;
        }
        label {
            font-family: 'Raleway', sans-serif;
            color: #298fd5;
            font-size: 18px;
            font-weight: 700;
        }
        input {
            width: 30vw;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #298fd5;
            border-radius: 4px;
            box-sizing: border-box;
}